.fakeAd {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  padding: 5px;
  width: 80%;
  margin-left: 50px;
}

.fakeAd > img {
  cursor: pointer;
  width: 100%;
}

.fakeAd > button {
  width: 100%;
  text-align: center;
  border: none;
  background-color: #ffff;
  padding: 5px;
  cursor: pointer;
}
