.answer {
  display: flex;
  padding: 10px;
  padding-bottom: none;
  border-bottom: 1px solid lightgrey;
}

.answer-content {
  padding: 5px;
}

.answer-header {
  display: flex;
  align-items: center;
}

.answerOwner-username {
  text-transform: capitalize;
  font-weight: 500;
}

.answer-createdDate {
  font-size: 15px;
  font-weight: 400;
  margin-left: 5px;
  color: #495057;
}

.answer-text {
  margin-top: 4px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 200;
  color: #333333;
}

.answer-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.answer-buttons > .button-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
