.widget {
  position: fixed;
  text-align: center;
  right: 0;
  width: 25%;
  height: 100vh;
  margin-top: 15px;
  margin-left: 15px;
}

@media screen and (max-width: 700px) {
  .widget {
    margin-right: 30px;
  }
}
