.create-question {
  border: 1px solid lightgray;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 700px;
}

.create-questionHeader {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 100%;
}

.createQuestion-image {
  margin-right: 15px;
}

.create-questionHeader > input {
  width: 100%;
  padding: 10px 7px;
  border-radius: 10px;
  border: 1px solid lightgray;
  outline: none;
  background-color: #f7f7f8;
}

.create-questionLinks {
  position: relative;
  margin-top: 5px;
  color: gray;
  display: flex;
  justify-content: space-around;
}

.create-questionLinks > .link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  width: 31%;
}

.link-container:nth-of-type(2) {
  position: relative;
  padding: 10px 20px;
}

.link-container:nth-of-type(2)::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50;
  height: 40%;
  width: 0.5px;
  background-color: #ccc;
}

.link-container:nth-of-type(2)::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50;
  height: 40%;
  width: 0.5px;
  background-color: #ccc;
}

.create-QuestionLinks > .link-container:hover {
  background-color: #f7f7f7;
}
