.question {
  border: 1px solid lightgray;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 700px;
  margin-top: 15px;
}

.question-header {
  display: flex;
  align-items: center;
}

.question-header > .question-owner {
  margin-left: 10px;
}

.question-owner > .questionOwner-name {
  font-size: 16px;
  font-weight: 300;
}

.question-owner > .question-createdDate {
  font-size: 15px;
  font-weight: 400;
  color: #495057;
}

.question-owner > button {
  background-color: #2e69ff;
  border: none;
  padding: 5px 15px;
  color: white;
  margin-left: 5px;
  border-radius: 5px;
}

.question-body {
  font-family: "Georgia", serif;
  margin-top: 10px;
  max-width: 680px;
  margin: 0 auto;
}

.question-body > .question-content {
  font-size: 17px;
  margin-top: 5px;
  line-height: 1.6;
  color: #333;
}

/* .question-answers {
  padding: 10px;
} */
