@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.question {
  border: 1px solid lightgray;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 700px;
  margin-top: 15px;
}

.question-container {
  padding: 10px 15px;
}

.question-header {
  display: flex;
  align-items: center;
}

.question-header > .question-owner {
  margin-left: 10px;
}

.question-owner > .questionOwner-name {
  font-size: 16px;
  font-weight: 300;
}

.question-owner > .question-createdDate {
  font-size: 15px;
  font-weight: 400;
  color: #495057;
}

.question-owner > button {
  background: none;
  border: none;
  padding: 5px 15px;
  color: #2e69ff;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.question-body {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  max-width: 680px;
  margin: 0 auto;
}

.question-body > .question-content {
  font-size: 17px;
  margin-top: 5px;
  line-height: 1.6;
  color: #333;
}

.question-answers {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  margin-top: 10px;
  padding: 0;
  transition: max-height 0.1s ease, opacity 0.1s ease;
}

.question-answers.open {
  max-height: fit-content;
  opacity: 1;
}

.question-answers.close {
  max-height: 0;
  opacity: 0;
}

/* .question-answers {
  padding: 10px;
} */
