.post {
  border: 1px solid lightgray;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 700px;
  margin-top: 15px;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header > .post-owner {
  margin-left: 10px;
}

.post-owner > .postOwner-name {
  margin-bottom: 5px;
}

.post-owner > button {
  background-color: #b92b27;
  border: none;
  padding: 5px 15px;
  color: white;
  margin-left: 5px;
  border-radius: 5px;
}

.post-body {
  margin-top: 10px;
  max-width: 680px;
  margin: 0 auto;
  padding: 10px;
}

.post-body > .post-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.post-content > p {
  font-family: "Georgia", serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}
